 <div class="main-t"> 
    
    <main>     
        <div class="user-form">
          <div class="form-title">お問い合わせ</div>
            <div class="item">
             <div class="form-item">ユーザーネーム</div>
             <input type="text" name="name">
             <div class="form-item">メールアドレス</div>
             <input type="text" name="mailaddress">
             <div class="form-item">内容</div>
             <textarea></textarea>
             <br></br>
             <div class="botton">
             <input type="submit" value="送信">
            </div>
            </div>
          </form>
        </div>      
    </main>  
</div>  
</html>
