<div class="main-t not_login_cover">
    <div class="container">
    <h1>お気に入り</h1>
        <div class="top_my_post_login_show">
            <h1>ログイン</h1>
            <span>ログインすると</span>
            <span id="top_favorite_login_color">お気に入りした投稿</span>
            <span>を見ることができます</span>
            <%= link_to "ログインする", "/login", class:"no_login_top_favorite_bin" %>
            <%= link_to "新規登録する", "/users/shinki", class:"no_login_top_favorite_bin" %>
        </div>
    </div>
</div>