<div class="main-t not_login_cover">
    <div class="container">
    <h1>自分の投稿一覧</h1>
        <div class="top_my_post_login_show">
            <h1>ログイン</h1>
            <span>ログインすると</span>
            <span id="top_my_post_login_color">自分がした投稿</span>
            <span>を見ることができます</span>
            <%= link_to "ログインする", "/login",class:"no_login_top_my_post_bin" %>
            <%= link_to "新規登録する", "/users/shinki",class:"no_login_top_my_post_bin" %>
        </div>
    </div>
</div>