// 人気記事欄のSCSS
$fontblack :#545454;

.neumorphism{
    border: none;
    outline: none;
    background: #efefef;
    color: $fontblack;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
    -6px -6px 10px rgba(255, 255, 255, .5),
    6px 6px 8px rgba(173, 108, 108, 0.075),
    6px 6px 10px rgba(0, 0, 0, .15);
}
// ランキングラベル
.ranking_label{
    position: absolute;
    display: inline;
    margin: 1rem 0 1rem -10px;
    color: #fff7f7;
    border-radius: 0 100vh 100vh 0;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    padding: 1px 16px;
    top: -9px;
    left:0;
    font-size: 14px;
    z-index: 4;
    &::before{
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 0;
        content: '';
        border-left: 10px solid transparent;
    }
    &.popular_comic_ranking{
        padding: 0.7px 14px;
        top: -11px;
        font-size: 13px;
        background-image: linear-gradient(90deg, #e0a208 0%, #fff23a 100%);
        &::before{
            border-top: 5px solid #a17406;
        }
    }
    &.hot_ranking{
        background-image: linear-gradient(90deg, #ff5858 0%, #f09819 100%);
        &::before{
            border-top: 5px solid #b53939;
        }
    }
    &.popular_ranking{
        padding: 1.3px 17px;
        background-image: linear-gradient(90deg, #41a4fd 18%, #0ef4ff);
        top: -6px;
        left: 3px;

        &::before{
            border-left: 7px solid transparent;
            border-top: 5px solid #152f47;
        }
    }
}
// 人気漫画
.popular_mangas{
    h2{
        position: relative;
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 1.4rem;
        color: #484848;
        &::after{
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            border-radius: 3px;
            background-image: -webkit-gradient(linear, right top, left top, from(#fff23a), to(#e0a208));
            background-image: -webkit-linear-gradient(right, #fff23a 0%, #e0a208 100%);
            background-image: linear-gradient(to left, #fff23a 0%, #e0a208 100%);
            background-image: linear-gradient(270deg, #fff23a, #e0a208 100%);
        }
        & > i{
            color: yellow;
            background: -webkit-linear-gradient(232deg, #fff23a, #e0a208 120%);
            -webkit-background-clip: text;//テキストでくり抜く
            -webkit-text-fill-color: transparent;
        }
    }
    // ↓もっと見るボタンのSCSS
    .popular_manga_more_show_icon{
        text-align: center;
        width:100%;
        padding: 0.6rem 0;
        margin-top: 1.4rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #bcbcbc82;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            background-color: #aaaaaa2e;
        }
    }
     // 人気漫画ランキングの続きを表示ボタン
    .popular_manga_list_show{
        display:block;
        text-align: center;
        width:100%;
        padding: 0.6rem 0;
        margin-top: 2rem;
        border-top: 1px solid #ffb87599;
        border-bottom: 1px solid #ffb87599;
        color: #ffbe00;
        transition: all .3s;
        &:hover{
            text-decoration: none;
            background-color: #fedeb02b;
            color: #ffa700;
        }
    }
    // 人気漫画ランキングの５位以下
    .popular_manga_under_rank{
        display:none;
    }
    // もっと見るを押したときの動き
    &.popular_rank_open{
        .popular_manga_more_show_icon{
            display:none;
        }
        .popular_manga_under_rank{
            display:block;
        }
        
    }
}
.popular_manga_ul{
    padding-left: 0;
    .popular_manga_li{
        position: relative;
        list-style: none;
        margin-bottom: 1rem;
        .popular_manga{
            position: relative;
            border-radius: 1rem;
            padding: 1rem 1rem .6rem 1rem;
            transition: all .4s;
            .popular_manga_post_link_cover{
                z-index: 1;
                position: absolute;
                top: 0;
                bottom: 0;
                left:0;
                right: 0;
            }
            .popular_manga_name_icon{
                .popular_manga_name{
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                .popular_manga_more_post{
                    position: relative;
                    display: flex;
                    z-index: 2;
                    width:fit-content;
                    margin-left: auto;
                    margin-right: 10px;
                    cursor: pointer;
                    align-items: center;
                    justify-content: flex-end;
                    .popular_manga_post_more_under_icon{
                        padding-right:.3rem;
                        & > i{
                            vertical-align: 3px;
                        }
                    }
                    &:hover{
                        color:#006EB6;
            
                    }

                }
                
            }
            .popular_manga_comment_icon_num{
                margin-right: 1.5rem;
                display: flex;
                margin-top:0rem;
                // margin-right: 2rem;
                .popular_manga_comment_icon{
                    padding-right:.4rem;
                }
            }
            &:hover{
                filter: brightness(98%);
                text-decoration: none;
                box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
                color: $fontblack;
            }
        }
    }
    .popular_manga_posts{
        display: none;
    }
    .popular_manga_post_ul{
        margin-top: 1rem;
        margin-left: 10px;
        border-left: 2px solid #d8d8d8;
        padding-left: 16px;
        & > li{
            list-style: none;
            .popular_manga_post{
                .little_show{
                    display: none;
                }
            }
        }
    }
}
// 急上昇記事欄のSCSS
.hot_articles{
    margin-top: 2.5rem;
    // 急上昇タイトル
    .hot_article_li{
        position: relative;
        list-style:none;
    }
    
    & > h2{
        position: relative;
        color: #484848;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.4rem;
        &::after{
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            border-radius: 3px;
            background-image: -webkit-gradient(linear, right top, left top, from(#f5973f), to(#f80f0f));
            background-image: -webkit-linear-gradient(right, #f5973f 0%, #f80f0f 100%);
            background-image: linear-gradient(to left, #f5973f 0%, #f80f0f 100%);
        }
        & > i{
            padding-right: 3px;
            color:red;
            background: -webkit-linear-gradient(90deg, rgba(248, 15, 15, 1), rgba(245, 151, 63, 1));
            -webkit-background-clip: text;//テキストでくり抜く
            -webkit-text-fill-color: transparent;
        }
    }
    // 急上昇記事の一覧
    & > ul{
        padding-left: 0;
    }
    .hot_article_comment_more_show{
        & > ul{
            padding-left: 0;
            & > li{
                list-style:none;
            }
        }
    }
    // 急上昇ランキングの続きを表示ボタン
    .hot_article_more_rank{
        display:block;
        text-align: center;
        width:100%;
        padding: 0.6rem 0;
        margin-top: 2rem;
        border-top: 1px solid #ff757582;
        border-bottom: 1px solid #ff757582;
        color: #ff0e00c2;
        transition: all .3s;
        &:hover{
            text-decoration: none;
            background-color: #feb0b02b;
            color: #dd0000;
        }
    }
    &.hot_article_rank_open{
        .hot_article_comment_more_show_btn{
            display: none;
        }
        .hot_article_comment_more_show{
            display:block;
        }
    }
}
 // 急上昇記事の続きを表示ボタン
.more_show_btn{
    text-align: center;
    width:100%;
    padding: 0.6rem 0;
    margin-top: 1.4rem;
    border-bottom: 1px solid #bcbcbc82;
    transition: all .3s;
    cursor: pointer;
    &:hover{
        background-color: #aaaaaa2e;
    }
}
.hot_article_comment_more_show{
    display:none;
}
.yesterday_popular_article_more_show,.week_popular_article_more_show,.month_popular_article_more_show{
    display:none;
    & > li{
        list-style: none;
        .popular_article{
            width: 95%;
            margin: 0 auto;
            border-radius: 1rem;
            padding: 1rem 1rem .6rem 1rem;
            position: relative;
            margin-bottom: 1rem;
            &:hover{
                box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
                opacity: .8;
                color: $fontblack;
            }
        }
        .little_show_comment{
            width: 95%;
            margin: 0 auto;
        }
    }
}
// PC版で人気記事タブの下矢印を押した時
.yesterday_tab_content{
    &.yesterday_popular_article_rank_open{
        .yesterday_popular_article_more_show_btn{
            display:none;
        }
        .yesterday_popular_article_more_show{
            display: block;
        }
    }
}
.week_tab_content{
    &.week_popular_article_rank_open{
        .week_popular_article_more_show_btn{
            display:none;
        }
        .week_popular_article_more_show{
            display: block;
        }
    }
}
.month_tab_content{
    &.month_popular_article_rank_open{
        .month_popular_article_more_show_btn{
            display:none;
        }
        .month_popular_article_more_show{
            display: block;
        }
    }
}
// スマホ版で人気記事タブの下矢印を押した時
.swiper-slide{
    &.yesterday_popular_article_rank_open{
        .yesterday_popular_article_more_show_btn_mobile{
            display:none;
        }
        .yesterday_popular_article_more_show{
            display: block;
        }
    }
    &.week_popular_article_rank_open{
        .week_popular_article_more_show_btn_mobile{
            display:none;
        }
        .week_popular_article_more_show{
            display: block;
        }
    }
    &.month_popular_article_rank_open{
        .month_popular_article_more_show_btn_mobile{
            display:none;
        }
        .month_popular_article_more_show{
            display: block;
        }
    }
}


// チラ見のコメント
.little_show_comment{
    display:none;
    & > ul{
        margin-left: 13px;
        border-left: 2px solid #d8d8d8;
        padding-left: 25px;
        @media screen and (max-width:480px){
            margin-left: 10px;
            border-left: 2px solid #d8d8d8;
            padding-left: 13px;
        }
        & > li{
            list-style: none;
            
            .article_main_comment{
                margin-bottom: 1rem;
                border-radius: .5rem;
                padding: .5rem;
                display: flex;
                clear: right;
                
                .article_main_comment_icon{
                    margin-right: 7px;
                    .comment_2_user_icon{
                        margin-top: 2px;
                        width: 35px;
                        height: 35px;
                    }
                    @media screen and (max-width:480px){
                        margin-right: 5px;

                        .comment_2_user_icon{
                            width: 30px;
                            height: 30px;
                            margin-top: 6px;
                        }
                    }
                }
                .article_main_comment_info{
                    flex: 1;
                    
                    .article_main_comment_names{
                        .article_main_comment_name{
                            font-size: 1rem;
                            font-weight: 700;
                        }
                        .article_main_comment_date{
                            margin-left: 2px;
                            font-size: .9rem;
                            opacity: .8;
                        }
                        .article_main_comment_menu{
                            float: right;
                            margin-right: 10px;
                            padding: 0.4rem 0.7rem;
                            border-radius: 58px;  
                            
                            &:hover{
                                background: #e1e0e0d1;
                                opacity: .8;
                            }  
                        }
                    }
                    .article_main_comment_replay{
                        position: relative;
                        top: -2px;
                        color: #1eaad1;
                    }
                    .article_main_comment_contain{
                        margin-top: 14px;
                    }
                    .article_main_comment_line{
                        opacity: 0.3;
                    }
                    .article_main_comment_replay_icon_num{
                        width: calc(100% * 3 /6);
                        display: flex;
                        padding: 0.2rem;
                        .article_main_comment_replay_icon{
                            margin-right: .2rem;
                        }
                    }
                }
            }
        }
    }
}
// さらにコメント表示ボタン
.comment_more_show{
    display:block;
    padding: .7rem 0rem;
    margin-bottom: 2rem;
    text-align: center;
    border-top: 1px solid #2727271a;
    border-bottom: 1px solid #2727271a;
    transition: all 0.3s;
    &:hover{
        text-decoration: none;
        background-color: #e6e6e6;
    }
}

// 人気記事のPC版のSCSS
.popular_articles_pc{
    // display:none;
    margin-top: 2.5rem;
    // 人気記事タイトル
    & > h2{
        position: relative;
        color: #484848;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.4rem;
        &::after{
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            border-radius: 3px;
            background-image: -webkit-gradient(linear, left top, right top, from(#41a4fd), to(#0ef4ff));
            background-image: -webkit-linear-gradient(left, #41a4fd 18%, #0ef4ff 100%);
            background-image: linear-gradient(to right, #41a4fd 18%, #0ef4ff 100%);
            background-image: linear-gradient(90deg, #41a4fd 18%, #0ef4ff);
        }
        & > i{
            background: -webkit-linear-gradient(66deg, #41a4fd 18%, #0ef4ff 59%);
            -webkit-background-clip: text;//テキストでくり抜く
            -webkit-text-fill-color: transparent
        }
    }
    // 人気記事の枠
    
}
// 期間別人気記事のSCSS
.tab_content{
    display:none;
    padding-left: 0;
    margin-bottom: 0;
    & > li{
        list-style: none;
        .popular_article{
            width: 95%;
            margin: 0 auto;
            border-radius: 1rem;
            padding: 1rem 1rem .6rem 1rem;
            position: relative;
            margin-bottom: 1rem;
            &:hover{
                box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
                opacity: .8;
                color: $fontblack;
            }
        }
        .little_show_comment{
            width: 95%;
            margin: 0 auto;
        }
    }
    // タブが押された時に付与するクラス
    &.here_content{
        display:block;
        .tab_top_popular_item{
            animation-name: fadedowncontent;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        .no_seach{
            animation-name: fadedowncontent;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
    }
    // ランキングをさらに表示するボタン
    .popular_article_more_rank{
        display: block;
        text-align: center;
        width: 100%;
        padding: 0.6rem 0;
        margin-top: 2rem;
        border-top: 1px solid #95cdff;
        border-bottom: 1px solid #95cdff;
        transition: all .3s;
        color: #0086ff;
        &:hover{
            color: #003cff;
            text-decoration: none;
            background-color: #0086ff12;
        }
    }
    @keyframes fadedowncontent{
        from {
            opacity: 0;
            transform: translateY(-1rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
// 期間別タブメニュー
.tab{
    padding-left: 0;
    display: flex;
    .tab_list_item{
        position: relative;
        color: #7e7c7c;
        background: #dadada;
        width: calc(100% / 3);
        list-style: none;
        padding:10px 20px;
        text-align: center;
        // border-bottom:1px solid #8f99dd;
        cursor: pointer;
        transition: all .3s;
        margin-top: 1rem;
        & > h4{
            margin:0;
            font-weight: normal;
        }
        @media screen and (max-width:321px) {
            padding: 10px 10px;
            
        }
        &::after{
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            border-radius: 3px;
            background-color: #c2c2c2;
        }
        &.here_tab{
            width :45%;
            background-color: #ffffff;
            color:#41a4fd;
            border-radius: 3px 3px 0 0;
            &::after{
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 2px;
                content: '';
                border-radius: 3px;
                background-image: -webkit-gradient(linear, left top, right top, from(#41a4fd), to(#0ef4ff));
                background-image: -webkit-linear-gradient(left, #41a4fd 18%, #0ef4ff 100%);
                background-image: linear-gradient(to right, #41a4fd 18%, #0ef4ff 100%);
                background-image: linear-gradient(90deg, #41a4fd 18%, #0ef4ff);
            }
            & > h4{
                font-size: 1.15rem;
                font-weight: bold;
            }
        }
    }
}
