.top_favorite_tittle{
    font-size: 2rem;
    position: relative;
    margin-bottom: 1.4rem;
    color: #484848;
    &::after{
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 3px;
        content: '';
        border-radius: 3px;
        background-image: -webkit-gradient(linear, right top, left top, from(#58f139), to(#598d38));
        background-image: -webkit-linear-gradient(right, #58f139 0%, #598d38 100%);
        background-image: linear-gradient(90deg, #598d38, #58f139 72%);
        background-image: linear-gradient(21deg, #ff0844 0%, #ffb199 74%);
    }
    & > i{
        color: #ff0844;
        background-image: linear-gradient(26deg, #ff0844 0%, #ffb199 84%);
        -webkit-background-clip: text;//テキストでくり抜く
        -webkit-text-fill-color: transparent;
    }
}
// 自分の投稿欄に自分の投稿がないときの表示
.favorite_post_nil_cover{
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: -18px;
    padding: 6rem 0;
    height: 100vh;
}
.favorite_post_nil{
    background-color: white;
    text-align: center;
    border-radius:23px;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
    & > i{
        font-size: 5rem;
        margin-bottom: 1rem;
        color: #8e8e8e;
    }
    & > h3{
        color: #6b6a6a;
    }
    & > span{
        display:block;
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
        font-size: 1.3rem;
        color: #ff0865;
        font-weight: 600;
    }
    .favorite_post_nil_new_post_btn{
        display: block;
        cursor: pointer;
        width: 190px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 32px;
        background-color: #ff0844;
        color: #fff;
        transition: all .3s;
        &:hover{
            text-decoration: none;
            background-color: #ff255a;
            opacity: .8;
        }
    }
}
@media screen and(min-width: 370px){
    .favorite_post_nil{
    
        & > h3{
            font-size: 1.2rem;
        }
        & > span{
            font-size: 1.5rem;
        }
    }
}
@media screen and(min-width: 760px){
    .favorite_post_nil{
        padding: 3rem 0;
        width: 500px;
        & > i {
            font-size: 8rem;
        }
        & > h3{
            font-size: 1.3rem;
        }
        & > span{
            margin-bottom: 1.5rem;
        }
        .favorite_post_nil_new_post_btn{
            font-size: 1.1rem;
            width: 200px;
        }
    }
}

