$fontblack :#545454;
.top_my_post_tittle{
    width: 93%;
    margin: 0 auto;
    font-size: 2rem;
    position: relative;
    margin-bottom: 1.4rem;
    color: #484848;
    &::after{
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 3px;
        content: '';
        border-radius: 3px;
        background-color: #ffa459;
        background-image: linear-gradient(90deg, #ff8f43, #ffe07b);
    }
    & > i{
        color: #ff7708;
        background-image: linear-gradient(35deg, #ff8f43 28% 29%, rgba(255, 224, 123, 1));
        -webkit-background-clip: text;//テキストでくり抜く
        -webkit-text-fill-color: transparent;
    }
}
// ユーザーの情報欄
.login_user_information{
    // background-color: #e9e9e9;
    margin-bottom: 2rem;
    .login_user_icon_area{
        text-align: center;
            .login_user_icon{
                position: relative;
                width: fit-content;
                margin: 0 auto;
            & > img{
                margin: 2rem 0 1rem 0;
                width: 170px;
                height: 170px;
                border-radius: 50%;
                object-fit: cover;
            }
            .user_icon_change_btn{
                position: absolute;
                position: absolute;
                width: 45px;
                height: 45px;
                bottom: 11px;
                right: 17px;
                padding: 8px;
                font-size: 21px;
                background-color: #43c891;
                color: white;
                border-radius: 50%;
                cursor: pointer;
                &.user_icon_default{
                    width: 40px;
                    height: 40px;
                    font-size: 19px;
                    bottom: 30px;
                    right: 20px;
                    padding: 7px;
                }
            }
        }
    }
    .login_user_name{
        margin: 0 auto;
        margin-bottom:8px;
        width: fit-content;
        // text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        position: relative;
        cursor: pointer;
        & > i{
            // position: absolute;
            // top: 16px;
            // right: -29px;
            color: #4b4b4b;
            font-size: 21px;
        }
        &:hover{
            text-decoration: underline;
            color:#474747;
            & > i{
                color:#474747;
            }
        }
    }
    .login_user_name_pas_change{
        width: fit-content;
        margin: 0 auto;
        color: #007bff;
        cursor: pointer;
        margin-bottom: 1rem;
        & > i{
            padding-right: 3px;
        }
        &:hover{
            color: #0056b3;
            text-decoration: underline;
        }
    }
    .user_like_comics{
        & > h2{
            color: $fontblack;
            font-size: 1.8rem;
            margin-left: 1rem;
            margin-bottom: 0;
        }
    }
}
// 自分の投稿のタブ
.tab_my_post_contents{
    & > h2{
        position: relative;
        width: 93%;
        margin: 0 auto;
        color: $fontblack;
        font-size: 1.8rem;
        margin-bottom: 4px;
        &::after{
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            border-radius: 3px;
            background-image: -webkit-gradient(linear, left top, right top, from(#41a4fd), to(#0ef4ff));
            background-image: -webkit-linear-gradient(left, #41a4fd 18%, #0ef4ff 100%);
            background-image: linear-gradient(to right, #41a4fd 18%, #0ef4ff 100%);
            background-image: linear-gradient(90deg, #41a4fd 18%, #0ef4ff);
        }
        & > i{
            background: -webkit-linear-gradient(66deg, #41a4fd 18%, #1cccd4 59%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2rem;
        }
        & > span{
            margin-left: -4px;
        }

    }
    
    .my_post_tab{
        width: 93%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        padding-left: 0;
        display: flex;
        .my_post_tab_list_item{
            position: relative;
            color: #7e7c7c;
            background: #dadada;
            width: calc(100% / 3);
            list-style: none;
            padding:10px 10px;
            text-align: center;
            // border-bottom:1px solid #8f99dd;
            cursor: pointer;
            transition: all .3s;
            margin-top: 1rem;
            & > h4{
                margin:0;
                font-weight: normal;
            }
            &::after{
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 2px;
                content: '';
                border-radius: 3px;
                background-color: #c2c2c2;
            }
            &.here_tab{
                width :45%;
                background-color: #ffffff;
                color:#41a4fd;
                border-radius: 3px 3px 0 0;
                &::after{
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    content: '';
                    border-radius: 3px;
                    background-image: -webkit-gradient(linear, left top, right top, from(#41a4fd), to(#0ef4ff));
                    background-image: -webkit-linear-gradient(left, #41a4fd 18%, #0ef4ff 100%);
                    background-image: linear-gradient(to right, #41a4fd 18%, #0ef4ff 100%);
                    background-image: linear-gradient(90deg, #41a4fd 18%, #0ef4ff);
                }
                & > h4{
                    font-size: 1.15rem;
                    font-weight: bold;
                }
            }
        }
    }
    // 自分の投稿のいいね順、閲覧順、新着順のSCSS
    .tab_my_post_content{
        display:none;
        width: 90%;
        margin: 0 auto;

        &.here_content{
            display:block;
            animation-name: fadedowncontent;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
    
}
    @keyframes fadedowncontent{
        from {
            opacity: 0;
            transform: translateY(-1rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
    }
}
// ログインをしていない時に、自分の投稿をクリックしたときの表示
.top_my_post_login_show{
    margin-top: -2rem;
    margin-bottom: 3rem;
    padding: 4rem 0;
    text-align: center;
    background: white;
    border-radius: 1rem;
    span{
        color: #505050;
        font-size: 1.4rem;
        font-weight: 600;
        display:block;
        &:nth-child(2){
            margin-top:1.5rem;
        }
        &:nth-child(4){
            margin-bottom: 1.3rem;
        }
        &#top_my_post_login_color{
            margin: .6rem 0;
            color: #2b6f30;
        }
        &#top_favorite_login_color{
            margin: .6rem 0;
            color: #ff6b6b;
        }
    }
    a{
        font-size: 1.1rem;
        margin-bottom: .7rem;
        display:block;
        border-radius: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 190px;
        padding: 1rem 1rem;
        transition: all .3s;
        &.no_login_top_favorite_bin{
            background-color: #ff6b6b;
            color:white;
            &:hover{
                background-color:#fe8d8d;
                text-decoration: none;
            }
        }
        &.no_login_top_my_post_bin{
            background-color: #19681f;
            color: white;
            &:hover{
                background-color:#4f8b54;
                text-decoration: none;
            }
        }
    }
}
.not_login_cover{
    margin-top: -20px;
    background: #00000075;
    height: 100vh;
}
//ユーザーアイコンを変更するときのフォーム
.user_icon_change_form{
    visibility: hidden;
    padding-bottom: 2rem;
    z-index: 2;
    position: fixed;
    width: 90%;
    height: fit-content;
    inset: 0;
    margin: auto;
    max-width: 600px;
    border-radius: 2rem;
    background-color: white;
    text-align: center;
    transform:  translateY(-100vh);
    transition: all .3s;
    .user_icon_change_x_btn_cover{
        text-align: right;
        #user_icon_change_x_btn{
            cursor: pointer;
            padding: 1rem;
            margin-top: 3px;
            margin-right: 10px;
            font-size: 1.3rem;
        }
    }
    & > h1{
        margin-bottom: 1.5rem;
        color: #13ab43;
    }
    .user_icon_change_btn_submit{
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display:block;
        border-radius: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 190px;
        padding: 1rem 1rem;
        transition: all .3s;
        border: none;
        outline: none;
        background: #e4e4e4;
        color: #6d6c6c;
        opacity: .8;
        pointer-events: none;
        &.user_icon_text_in{
            pointer-events: auto;
            background: #13ab43;
            opacity: 1;
            color: white;
            &:hover{
                background-color: #38cc67;
            }
        }
    }
    .user_icon_form_area{
        position: relative;
        width: fit-content;
        margin: 0 auto;
        .image_label{
            position: absolute;
            left: 12%;
            top: -8px;
            padding: 0 2px;
            background-color: white;
            color: #545454;
            font-size: .9rem;
            color:#3879D9;
            pointer-events: none;
        }
        .user_info_default_icon{
            bottom: -11px;
            right: 25px;      
            position: absolute;
            display: block;
            &:hover{
                & > i{
                    text-decoration:underline;
                }
                & > label{
                    text-decoration:underline;
                }
            }
        }
    }
    .user_icon_change{
        padding: 14px 1.1rem;
        color: #444;
        font-size: 12px;
        background: transparent;
        border-radius: 30px;
        width: 90%;
        border: 1px solid #a3b8bd;
        margin-bottom: 1.5rem;
        &:focus{
            border:2px solid #3879D9;
        }
    }
}
.user_icon_change_cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    // transform: translateY(100%);
    cursor: pointer;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.user_icon_change_open{
    .user_icon_change_form{
        transform: none;
        visibility: visible;
    }
    .user_icon_change_cover{
        opacity: 1;
        visibility: visible;
    }
}
//ユーザー名を変更するときのフォーム
.user_name_change_form{
    visibility: hidden;
    padding-bottom: 2rem;
    z-index: 2;
    position: fixed;
    width: 90%;
    height: fit-content;
    inset: 0;
    margin: auto;
    max-width: 600px;
    border-radius: 2rem;
    background-color: white;
    text-align: center;
    transform:  translateY(-100vh);
    transition: all .3s;
    .user_name_change_x_btn_cover{
        text-align: right;
        #user_name_change_x_btn{
            cursor: pointer;
            padding: 1rem;
            margin-top: 3px;
            margin-right: 10px;
            font-size: 1.3rem;
        }
    }
    & > h1{
        margin-bottom: 1.5rem;
        color: #2648a5;
    }
    .user_name_change_btn_submit{
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display:block;
        border-radius: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 190px;
        padding: 1rem 1rem;
        transition: all .3s;
        border: none;
        outline: none;
        background: #e4e4e4;
        color: #6d6c6c;
        opacity: .8;
        pointer-events: none;
        &.user_name_text_in{
            pointer-events: auto;
            background: #2648a5;
            opacity: 1;
            color: white;
            &:hover{
                background-color: #2648a5;
            }
        }
    }
    .user_name_form_area{
        position: relative;
        width: fit-content;
        margin: 0 auto;
        .user_label{
            position: absolute;
            left: 12%;
            top: -8px;
            padding: 0 2px;
            background-color: white;
            color:#3879D9;
            pointer-events: none;
            font-size: .9rem;
            opacity: 1;
        }
    }
    .user_name_form{
        display: block;
        margin: 0 auto;
        padding: 0 1rem;
        background-color: white;
        color: #444;
        border-radius: 23px;
        margin-bottom: 1.3rem;
        font-size: 1rem;
        // width: 75%;
        width: 97%;
        // max-width: 250px;
        height: 50px;
        border: 1px solid #a3b8bd;
        outline: none;
        // transition: all 0s;
        &:focus{
            border:2px solid #3879D9;
            &::placeholder{
                color: #3879D9;
            }
        }
    }
    .user_name_change_error{
        margin-bottom: 8px;
        color: red;
        display:none;
    }
    // ユーザー名変更テキストエリアの文字数が３０文字を超えた時に付与されるクラス
    &.user_name_change_length_over{
        .user_name_change_error{
            display: block;
        }
        .user_name_form_area{
            .user_label{
                color: red;
            }
            .user_name_form{
                border: 2px solid red;
            }
        }
        .user_name_change_btn_submit{
            background: #e4e4e4;
            color: #6d6c6c;
            opacity: .8;
            pointer-events: none;
        }
    }
}
.user_name_change_cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    // transform: translateY(100%);
    cursor: pointer;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.user_name_change_open{
    .user_name_change_form{
        transform: none;
        visibility: visible;
    }
    .user_name_change_cover{
        opacity: 1;
        visibility: visible;
    }
}
//ユーザー情報を変更するときのフォーム
.user_info_change_form{
    visibility: hidden;
    padding-bottom: 2rem;
    z-index: 2;
    position: fixed;
    width: 90%;
    height: fit-content;
    inset: 0;
    margin: auto;
    max-width: 600px;
    border-radius: 2rem;
    background-color: white;
    text-align: center;
    transform:  translateY(-100vh);
    transition: all .3s;
    .user_info_x_btn_cover{
        text-align: right;
        #user_info_x_btn{
            cursor: pointer;
            padding: 1rem;
            margin-top: 3px;
            margin-right: 10px;
            font-size: 1.3rem;
        }
    }
    & > h1{
        margin-bottom: 1.5rem;
        color: #2648a5;
    }
    .user_info_change_btn{
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display:block;
        border-radius: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 190px;
        padding: 1rem 1rem;
        transition: all .3s;
        border: none;
        outline: none;
        background: #e4e4e4;
        color: #6d6c6c;
        opacity: .8;
        pointer-events: none;
        &.user_info_text_in{
            pointer-events: auto;
            background: #2548a5;
            opacity: 1;
            color: white;
            &:hover{
                background-color: #476bc9;
            }
        }
    }
    .user_info_form_area{
        position: relative;
        width: fit-content;
        margin: 0 auto;
        .user_label,.password_label{
            position: absolute;
            left: 12%;
            top: 12px;
            padding: 0;
            background-color: white;
            color: #545454;
            opacity: .8;
            pointer-events: none;
            -webkit-transition: top .2s ease-in-out, 
                                font-size .2s ease-in-out;
            transition: top .2s ease-in-out, 
                        font-size .2s ease-in-out;
            &.active{
                left: 12%;
                top: -8px;
                padding: 0 2px;
                font-size: .9rem;
                color:#3879D9;
                opacity: 1;
            }
        }
        .image_label{
            position: absolute;
            left: 12%;
            top: -8px;
            padding: 0 2px;
            background-color: white;
            color: #545454;
            font-size: .9rem;
            color:#3879D9;
            pointer-events: none;
        }
    }
    .user_icon_change{
        padding: 14px 1.1rem;
        color: #444;
        font-size: 12px;
        background: transparent;
        border-radius: 30px;
        width: 97%;
        border: 1px solid #a3b8bd;
        margin-bottom: 1.5rem;
    }
    .user_info_form{
        display: block;
        margin: 0 auto;
        padding: 0 1rem;
        background-color: white;
        color: #444;
        border-radius: 23px;
        margin-bottom: 1.3rem;
        font-size: 1rem;
        // width: 75%;
        width: 97%;
        // max-width: 250px;
        height: 50px;
        border: 1px solid #a3b8bd;
        outline: none;
        // transition: all 0s;
        &:focus{
            border:2px solid #3879D9;
            &::placeholder{
                color: #3879D9;
            }
        }
    }
    .user_pass_change_error{
        display:none;
        color:#f84343;
        margin-bottom: 7px;
    }
    .user_pass_change_form_area{
        &.pass_not_equal{
            .user_pass_change_error{
                display: block;
            }
            .user_info_form_area{
                .password_label{
                    color:#f84343;
                }
                .user_info_form{
                    &.user_pas_change_form{
                        border:2px solid #f84343;
                    }
                    &.user_pas_confirmation_change_form{
                        border:2px solid #f84343;
                    }
                }
            }
            .user_info_change_btn{
                background: #89898975;
                background: #e4e4e4;
                color: #6d6c6c;
                opacity: .8;
                pointer-events: none;
            }
        }
    }
}
.main-t_cover{
    .main-t{
        z-index:auto;
        .user_name_change_form{
            z-index: 500;
        }
        .user_info_change_form{
            z-index: 500;       
        }
        .best_comics_change{
            z-index: 500;
        }
        .know_comics_change{
            z-index: 500;
        }
        .user_icon_change_form{
            z-index: 500;
        }
    }
}
.user_name_pas_change_cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    // transform: translateY(100%);
    cursor: pointer;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.user_info_change_open{
    .user_info_change_form{
        transform: none;
        visibility: visible;
    }
    .user_name_pas_change_cover{
        opacity: 1;
        visibility: visible;
    }
}
@media screen and(min-width:480px) {
    .user_info_change_form{
        .user_info_form_area{
            .user_label,.password_label{
                left: 9%;
                &.active{
                    left: 9%;
                }
            }
        }
        .user_info_form{
            width: 253px;
        }
    }
    .user_icon_change_form{
        .user_icon_form_area{
            .image_label{
                left: 7%;
            }
            .user_icon_change{
                width: 400px;
                font-size: 1rem;
                padding-left: 1.8rem;
            }
        }
    }
    .user_name_change_form{
        .user_name_form_area{
            
            .user_label{
                left:9%;
            }
            .user_name_form{
                width: 253px;
            }
        }
    }
}
.user_like_comics_line{
    border: none;
    margin-bottom: 0;
    background: #f7a8a8;
    height: 1px;
}
.user_like_comics{
    margin-bottom: 3rem;
    margin-top: 2rem;
    .user_most_like_content{
        list-style: none;
        margin-bottom: 0;
        padding: 1rem 0 1rem 2rem;
        border-radius: 5px;
        background-color: #e4e5e5;
        font-weight: bold;
        .user_most_nothing_like_comic{
            font-size: 1.1rem;
            font-weight: bold;
        }
        .user_most_like_comic{   
            color: #4d5559;
            font-size: 1.1rem;
            padding-right: 3.2rem;
        }
        @media screen and(min-width:600px){
            padding: 1rem 0;
            display: flex;
            justify-content: center;
        }
    }
}
.user_most_like_comics{
    padding: 20px 10px 16px 10px;
    color: $fontblack;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    .user_most_like_tittle{
        display: flex;
        & > div{
            cursor: pointer;
            color: #7c7d7d;
            padding-right: 6px;
            margin-left: auto;
        }
    }
}
.user_know_manga{
    padding: 20px 10px 16px 10px;
    color: $fontblack;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #d1d1d1;
    .user_know_manga_tittle{
        display: flex;
        & > div{
            cursor: pointer;
            color: #7c7d7d;
            padding-right: 6px;
            margin-left: auto;
        }
    }
    .user_know_manga_index{
        background-color: #e4e5e5;
        border-radius: 5px;
        padding: 1rem 7px;
        color: #4d5559;
        &.read_nothing{
            text-align: center;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}
// 特に好きな漫画の編集を押したときの背景
.best_comics_change_cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    // transform: translateY(100%);
    cursor: pointer;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
// 特に好きな漫画の編集画面
.best_comics_change{
    visibility: hidden;
    padding-bottom: 2rem;
    position: fixed;
    width: 90%;
    height: fit-content;
    inset: 0;
    margin: auto;
    max-width: 600px;
    border-radius: 2rem;
    background-color: white;
    text-align: center;
    transform:  translateY(-100vh);
    transition: all .3s;
    // 特に好きな漫画の編集画面の閉じるボタン
    .best_comics_x_btn_cover{
        text-align: right;
        #best_comics_x_btn{
            cursor: pointer;
            padding: 1rem;
            margin-top: 3px;
            margin-right: 10px; 
            font-size: 1.3rem;
        }
    }
    //特に好きな漫画の編集画面のタイトル 
    & > h1{
        margin-bottom: 1.5rem;
        color: #61b8e4;
    }
    // 特に好きな漫画の編集画面
    .best_comics_form_area{
        position: relative;
        width: fit-content;
        margin: 0 auto;
        // 特に好きな漫画のフォームのラベル
        .best_comic_label{
            position: absolute;
            left: 12%;
            top: -8px;
            padding: 0;
            font-size: .9rem;
            color:#3879D9;
            background-color: white;
        }
    }
    // 特に好きな漫画のテキストフォーム
    .best_comic_form{
        display: block;
        font-weight: bold;
        margin: 0 auto;
        padding: 0 1rem;
        background-color: white;
        color: #444;
        border-radius: 23px;
        margin-bottom: 1.3rem;
        font-size: 1rem;
        width: 97%;
        height: 50px;
        border: 1px solid #a3b8bd;
        outline: none;
        &::placeholder{
            color: #a1a2a7;
        }
        &:focus{
            border:2px solid #3879D9;
            
        }
    }
    //特に好きな漫画の変更ボタン
    .best_comics_change_btn{
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        display:block;
        border-radius: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 190px;
        padding: 1rem 1rem;
        transition: all .3s;
        border: none;
        outline: none;
        background: #e4e4e4;
        color: #6d6c6c;
        opacity: .8;
        pointer-events: none;
        &.best_comics_text_in{
            pointer-events: auto;
            background: #3493c3;
            opacity: 1;
            color: white;
            &:hover{
                background-color: #45b9f4;
            }
        }
    }
}
// 特に好きな漫画の編集ボタンが押されたとき
.best_comics_change_open{
    .best_comics_change{
        visibility: visible;
        transform: none;
    }
    .best_comics_change_cover{
        opacity: 1;
        visibility: visible;
    }
}
// 特に好きな漫画のパソコン表記
@media screen and(min-width:480px) {
    .best_comics_change{
        .best_comics_form_area{
            .best_comic_label{
                left: 9%;
            }
        }
        .best_comic_form{
            width: 253px;
        }
    }
}

// 履修済みの漫画の編集を押したときの背景
.know_comics_change_cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
// 履修済みの漫画の編集画面
.know_comics_change{
    visibility: hidden;
    padding-bottom: 2rem;
    position: fixed;
    width: 90%;
    height: fit-content;
    inset: 0;
    margin: auto;
    max-width: 600px;
    border-radius: 2rem;
    background-color: white;
    text-align: center;
    transform:  translateY(-100vh);
    transition: all .3s;
    // 履修済みの漫画の編集画面の閉じるボタン
    .know_comics_x_btn_cover{
        text-align: right;
        #know_comics_x_btn{
            cursor: pointer;
            padding: 1rem;
            margin-top: 3px;
            margin-right: 10px; 
            font-size: 1.3rem;
        }
    }
    //履修済みの漫画の編集画面のタイトル 
    & > h1{
        margin-bottom: 1.5rem;
        color: #61b8e4;
    }
    // 履修済みの漫画の編集画面
    .know_comics_form_area{
        position: relative;
        width: fit-content;
        margin: 0 auto;
        // 履修済みの漫画のフォームのラベル
        .know_comic_label{
            position: absolute;
            left: 17px;
            top: -8px;
            padding: 0;
            font-size: .9rem;
            color:#3879D9;
            background-color: white;
        }
    }
    // 履修済みの漫画のテキストフォーム
    .know_comic_form{
        display: block;
        margin: 0 auto;
        padding: 0 1rem;
        padding-top: 11px;
        background-color: white;
        color: #444;
        border-radius: 9px;
        margin-bottom: 1.3rem;
        font-size: 1rem;
        width: 97%;
        border: 1px solid #a3b8bd;
        outline: none;
        &::placeholder{
            color: #a1a2a7;
        }
        &:focus{
            border:2px solid #3879D9;
            
        }
    }
    //履修済みの漫画の変更ボタン
    .know_comics_change_btn{
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        display:block;
        border-radius: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 190px;
        padding: 1rem 1rem;
        transition: all .3s;
        border: none;
        outline: none;
        background: #e4e4e4;
        color: #6d6c6c;
        opacity: .8;
        pointer-events: none;
        &.know_comics_text_in{
            pointer-events: auto;
            background: #3493c3;
            opacity: 1;
            color: white;
            &:hover{
                background-color: #45b9f4;
            }
        }
    }
}
// 履修済みの漫画の編集ボタンが押されたとき
.know_comics_change_open{
    .know_comics_change{
        visibility: visible;
        transform: none;
    }
    .know_comics_change_cover{
        opacity: 1;
        visibility: visible;
    }
}
// 特に好きな漫画のパソコン表記
@media screen and(min-width:480px) {
    .know_comics_change{
        .know_comics_form_area{
            .know_comic_label{
                left: 14px;
            }
        }
        .know_comic_form{
            width: 400px;
        }
    }
}

// 自分の投稿欄に自分の投稿がないときの表示
.my_post_nil_cover{
    background-color: rgba(0, 0, 0, 0.4);
    width: 93%;
    margin: 0 auto;
    margin-top: -23px;
    padding: 4rem 0;
}
.my_post_nil{
    background-color: white;
    text-align: center;
    border-radius:23px;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
    & > i{
        font-size: 5rem;
        margin-bottom: 2rem;
        color: #8e8e8e;
    }
    & > h3{
        color: #6b6a6a;
    }
    & > span{
        display:block;
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
        font-size: 1.3rem;
        color: #028951;
        font-weight: 600;
    }
    .my_post_nil_new_post_btn{
        cursor: pointer;
        width: 190px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 32px;
        background-color: #00a2ba;
        color: #fff;
        transition: all .3s;
        &:hover{
            opacity: .8;
        }
    }
}
@media screen and(min-width: 370px){

    .my_post_nil{
    
        & > h3{
            font-size: 1.2rem;
        }
        & > span{
            font-size: 1.5rem;
        }
    }
}
@media screen and(min-width: 760px){
    .my_post_nil{
        width: 420px;
        & > i {
            font-size: 6rem;
        }
        & > h3{
            font-size: 1.3rem;
        }
        & > span{
            margin-bottom: 1.5rem;
        }
        .my_post_nil_new_post_btn{
            font-size: 1.1rem;
            width: 200px;
        }
    }
}
